#header-container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: rgb(226, 226, 226);
}

#header-title-container {
    display: flex;
    align-items: center;
}

#header-title {
    font-size: 22px;
    margin: 0;
    color: #000000;
}

@media only screen and (width <= 500px) {
    #header-title {
        display: none;
    }
}

#header-links {
    display: flex;
    align-items: center;
}

.header-link img {
    margin-left: 5px;
}

#header-submit {
    display: flex;
    align-items: center;
    background: #ffffffd7;
    padding: 4px;
    border-radius: 16px;
}

.header-link {
    font-size: 20px;
    text-decoration: none;
    color:#000;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    padding: 0;
}

#header-link-github {
    margin: 0 10px;
}

#header-logo {
    margin-right: 10px;
}

#header-right-container {
    display: flex;
    align-items: center;
}

#theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 38px;
    width: 38px;
    background: none;
    border: none;
}

#theme-btn img {
    transition: transform 0.2s ease-in-out;
}

#theme-btn:hover img{
    transform: rotate(0.15turn);
}