#header-container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: rgb(226, 226, 226);
}

#header-title-container {
    display: flex;
    align-items: center;
}

#header-title {
    font-size: 22px;
    margin: 0;
    color: #343434;
}

#header-links {
    display: flex;
}

.header-link {
    text-decoration: none;
    color: #343434;
    font-size: 18px;
    margin-right: 10px;
    background-color: rgb(238, 238, 238);
    padding: 4px;
    border-radius: calc(100vh * 0.5);
    border: 1px solid rgb(200, 200, 200);
}

#header-logo {
    margin-right: 10px;
}