  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-width: 1500px;
    width: 100%;
    justify-items: center;
  }
  
  #card-grid-container {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }