#search {
    background: rgb(235, 235, 235);
    padding: 10px;
    margin: 10px 20px;
    border-radius: 26px;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;  
}

#search-row-1, #search-row-2 {
    display: flex;
    flex-direction: row;
}

@media (max-width: 530px) {
    #search-row-1 {
        flex-direction: column;
    }
}

#search {
    /*position: sticky;*/
    top: 10px;
    z-index: 1000000;
}

#startpage-search, #startpage-sort {
    border: 2px #e2e2e2 solid;
    background: #fafafa;
    padding: 10px;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
}

#startpage-search {
    width: 100%;
}

#startpage-search:focus {
    border: 2px #cecece solid;
}

#startpage-sort {
    background: #fafafa;
    padding: 10px;
    border-radius: 16px;
    border: 2px #e2e2e2 solid;
}

.search-icon {
    width: 24px;
    height: 24px;
    transform: translateX(-34px) translateY(30%);
    color: #555;
    pointer-events: none;
}

.search-prop {
    font-size: 16px;
    margin: 5px;
}

.search-row {
    margin: 5px 0;
}

.search-item {
    margin-right: 5px;
}

#tag-list {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    margin-top: 7px;
    margin-left: -40px;
    border-radius: 20px;
}

.tag {
    flex-shrink: 0;
    cursor: pointer;
}